@import "../../index.scss";

.home {
  display: flex;
  flex-direction: column;

  .home__header {
    .header__subtitle {
      font-size: 1.8rem;
      font-weight: 400;
      color: #a3a3a3;
    }
    .header__title {
      font-size: 2.4rem;
      font-weight: 700;
      color: #333;
    }
  }

  .home__category {
    position: relative;

    .category__list {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 20px 0;
      margin: 0 auto;
      overflow-y: hidden;
      @include scrollHidden;
      overflow-x: overlay;
      scroll-snap-type: x mandatory;
      gap: 10px;

      &:hover {
        @include scroll;
      }

      .category__item {
        scroll-snap-align: end;

        &:hover {
          p {
            color: white;
            background-color: $primary-color;
          }
        }

        &.active {
          p {
            color: white;
            background-color: $primary-color;
          }
        }
        p {
          font-size: 1.6rem;
          font-weight: normal;
          color: $primary-color;
          background-color: transparent;
          padding: 6px 20px;
          border-radius: 30px;
          border: 1.4px solid $primary-color;
          transition: all linear 0.2s;
          cursor: pointer;
        }
      }
    }
  }
}

.App.dark {
  .header__subtitle {
    color: white;
  }
  .header__title {
    color: white;
  }
}
