@import "../../index.scss";

.bookmark__body {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  height: 70%;
  overflow-x: hidden;
  gap: 20px;
  @include scrollHidden;

  @include cus(500px) {
    scroll-snap-type: y mandatory;
  }

  .bookmark__item {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 46%;
    border-radius: 30px;
    background-color: #dadada;
    overflow: hidden;

    @include cus(500px) {
      width: 100%;
      scroll-snap-align: center;
    }

    .bookmark__link {
      height: 70%;

      .bookmark__img {
      }
    }
    .bookmark__infor {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
    }

    .infor__header {
      width: 70%;
    }
    .infor__name {
      display: block;
      display: -webkit-box;
      font-size: 1.8rem;
      font-weight: 500;
      color: black;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .infor__national {
      font-size: 1.6rem;
      font-weight: 400;
      color: black;
    }

    .infor__body {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 100%;

      .body__heart {
        & > div {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .icon__heart {
          position: relative;
          font-size: 2.6rem;
          color: #02cfc3;
          cursor: pointer;
          z-index: 2;
        }
      }

      .body__star {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;

        span {
          font-size: 1.4rem;
          color: white;
        }
        .icon__star {
          font-size: 2rem;
          color: #f68014;
        }
      }
    }
  }
}
