@import "../../../index.scss";

.navbar__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;

  .navbar__left {
    .navbar__user {
      font-size: 2rem;
      font-weight: 600;
      color: black;

      @include cus(400px) {
        font-size: 1.6rem;
      }
    }
  }



  .navbar__icon {
    font-size: 3rem;
    cursor: pointer;
  }
  .navbar__right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
    gap: 10px;
  }
}


.App.dark {
  .navbar__user,
  .navbar__icon {
    color: white;
  }
}