.navbar__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;

  .navbar__left {
    .navbar__user {
      font-size: 2rem;
      font-weight: 600;
      color: black;
    }
  }



  .navbar__icon {
    font-size: 3rem;
    cursor: pointer;
  }
  .navbar__right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
    gap: 10px;
  }
}
