@import "../../index.scss";

.detail {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  overflow: hidden;

  .detail__header {
    position: relative;
    width: 100%;
    height: 50%;
    margin: 20px 0;

    & > .lazy-load-image-background {
      width: 100%;
      height: 70%;
    }

    .header__img {
      border-radius: 20px;
      height: 100%;
    }
    .header__list {
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-start;
      width: 100%;
      height: 40%;
      padding: 10px 0;
      overflow-y: hidden;
      overflow-x: overlay;
      scroll-snap-type: x mandatory;
      @include scrollHidden;
      gap: 10px;

      &:hover {
        @include scroll;
      }
    }

    .animated {
      min-width: 40%;
      height: 100%;
    }

    .header__item {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      scroll-snap-align: end;
      overflow: hidden;
      cursor: pointer;

      .lazy-load-image-background {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        overflow: hidden;
      }

      img {
        transition: all linear 0.2s;
      }
    }
  }

  .detail__body {
    height: 40%;
    overflow-y: scroll;
    @include scrollHidden;
    margin-top: 10px;

    .detail__title {
      font-size: 2.4rem;
      font-weight: 600;
    }
    .detail__subtitle {
      font-size: 2rem;
      font-weight: 500;
      color: $primary-color;
    }
    .detail__address {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px 0;
      gap: 10px;
      -webkit-column-gap: 10px;

      .detail__address-icon {
        font-size: 2.6rem;
        min-width: 30px;
        color: $primary-color;
      }
      p {
        font-size: 1.4rem;
        font-weight: 500;
      }
    }
    .detail__desc {
      font-size: 1.6rem;
      font-weight: 400;

      .detail__desc-wrap {
        p {
          height: 96px;
          overflow: hidden;
          transition: all linear 0.2s;
        }

        .detail__desc-btn {
          font-weight: 500;
          color: $primary-color;
          cursor: pointer;
        }
      }

      .detail__room {
        .detail__room-item {
          margin-top: 10px;

          span {
            font-weight: 500;
            color: $primary-color;
          }
        }
        .detail__room-area {
        }
      }

      .detail__service-title {
        font-size: 1.8rem;
        font-weight: 500;
        color: $primary-color;
        margin: 20px 0 10px;
      }

      .detail__services {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        width: 100%;
        margin-bottom: 100px;
        overflow-x: auto;
        @include scroll;
        gap: 20px;
        -webkit-column-gap: 20px;

        @include cus(770px) {
          @include scrollHidden;
        }
      }

      .services__item {
        min-width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .services__icon {
        font-size: 2rem;
        color: black;
      }
      .services__title {
        font-size: 1.6rem;
      }
    }
  }

  .detail__footer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 50%;
    width: 100%;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    transform: translateX(-50%);
    border-radius: 0 0 30px 30px;
    gap: 10px;
    z-index: 1;

    .footer__heart,
    .footer__phone {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      background-color: transparent;
      border-radius: 50%;
      transition: all ease 0.4s;

      &.liked {
        background-color: #dadada;
      }

      .heart__icon {
        font-size: 3rem;
        color: #02cfc3;
        cursor: pointer;
      }

      .phone__icon {
        font-size: 2.6rem;
        color: #02cfc3;
        border-radius: 50%;
        cursor: pointer;
      }
    }
    .footer__btn {
      flex: 1;
      max-width: 60%;
      border-radius: 20px;
      overflow: hidden;
      .footer__icon {
        width: 30px;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.6rem;
        color: white;
        background-color: #182120;
        font-weight: 500;
        padding: 10px 30px;
        gap: 10px;
      }
    }
  }
}

.App.dark {
  .detail__desc {
    .services__icon {
      color: white;
    }
  }
}
