@import "../../index.scss";

.bookmark {
  .bookmark__header {
    font-size: 2rem;
    font-weight: 600;
    color: black;
    padding: 10px 0;
    text-align: center;
  }

  .bookmark__desc {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70%;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
  }

  .bookmark__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;

    .bookmark__loading-icon {
      font-size: 3rem;
      animation: spinner linear 0.8s forwards infinite;
    }
  }
}


.App.dark {
  .bookmark__loading {
    .bookmark__loading-icon {
      color: white;
    }
  }
}